@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "poppins", sans-serif;
}
.white {
  @apply text-white;
}

.location {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  list-style: none;
}
.location::-webkit-scrollbar {
  display: none;
}
.thumb {
  width: 200px !important;
  height: 200px !important;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  justify-content: center;
}
.thumb > img {
  width: 100px !important;
  height: 100px !important;
  object-fit: contain;
}



body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
